.seccion1 {
  width: 1440px;
  margin-top: 10rem;
  padding: 0 15 rem;

    
  }

  .Subtitulo {
    padding: 3rem;
  }
  
  .linea {
    display: flex;
    justify-content: space-between;
    align-items: center;          
  }

  .Smartphones {
    margin-left: 0rem;
  }

  .view {
    margin-left: 10rem;
    cursor: pointer;
  }
  
  .linea2 {
    display: flex;
    align-items: center;
    margin-top: 5px;
  }


  .azul {
    margin-left: 3rem;
  }

  .gris {
    display: block;
    width: 1198px;
    max-width: 1198px;
    margin-right: 10rem;
  }


  /*CELULARES  */
  .CatalogoCel {
    align-items: center;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding-top: 3rem;
    gap: 5.3rem;
    cursor: pointer;

  }

  .CatalogoCel img {
    width: 227px;
    height: 295px;
    top: 742px;
    border-radius: 18px;
    
  }

  .Cel5 {
    border-radius: 16px;
    border: 1px;
    cursor: pointer;
  }

  .Cel2 {
    border-radius: 16px;
    border: 3px;
    cursor: pointer;
  }


