
.rectangulo {
    width: 1201px;
    height: 316px;
    top: 220px;
    left: 120px;
    border-radius: 16px;
    background-color: #212844;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: monospace;
}

.textos {
    margin-left: 10rem;
    font-family: monospace;
    color: white;
    font-size: 1rem;
}


.sub {
    font-size: 2rem;
    color: white;
    font-family: monospace;
    padding: 1rem;
}

.titulo {
    font-size: 6rem;
    color: white;
    font-family: monospace;
}


.oferta {
    font-size: 2rem;
    margin-top: 0.5rem;
    font-family: monospace;
    color: white;
}

.reloj {
    position: relative;
    margin-right: 10rem;
}

